*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
:root{
  --color1: #001dbe; /* Color principal */
  --color2: #bebebe; /* Color secundario */
}
.ancho{
  width: 1300px;
  margin: auto;
}
.titulo{
  font-size: 35px;
  padding: 50px;
  text-align: center  ;
}
.sub_cont_iniciar{
  margin: 10px 10px;
  text-align: center;
}
.labels{
  font-size: 20px;
  font-weight: bold;
}
.caja{
  border: 2px solid #c9c5c5;
  border-radius: 10px;
  width: 500px;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cont_login{
  width: 450px;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 30px 40px;
  border-radius: 7px;
  margin-top: 40px;
  background-color: #f2f4f6;
}

.btn_login{
  padding: 12px 120px;
  background-color: #001dbe;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
}

.bton_contra{
  background-color: var(--color2);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 17px;
  padding: 12px 85px;
}


.btn_crear{
  padding: 12px 122px;
  background-color: var(--color2);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  font-size: 17px;
}
.btn_crear2{
  padding: 12px 140px;
  background-color: #001dbe;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  font-size: 17px;
}

.btn_crear3{
  padding: 12px 152px;
  background-color: #001dbe;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  font-size: 17px;
}

.btn_crear4{
  padding: 12px 142px;
  background-color: #001dbe;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  font-size: 17px;
}

.cont_registrarse{
  width: 500px;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 30px 40px;
  border-radius: 7px;
  margin-top: 40px;
  background-color: #f2f4f6;
}
.elemento_inp{
  padding: 10px;
  width: 350px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 0;
  border: 1px #ccc solid;
}
.elemento_inp2{
  padding: 10px;
  width: 850px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 0;
  border: 1px #ccc solid;
}
.elemento_inp3{
  padding: 10px;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 0;
  border: 1px #ccc solid;
}
.btn_azul{
  width: 350px;
  padding: 15px;
  background-color: #002d6d;
  color: white;
  border: 0;
  border-radius: 6px;
  text-decoration: none;
}
.btn_rojo2{
  width: 150px;
  padding: 9px 15px;
  background-color: #3d9900;
  color: white;
  border: 0;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.btn_rojo3{
  width: 150px;
  padding: 9px 15px;
  background-color: #800000;
  color: white;
  border: 0;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.titulo2{
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
.texto1{
  font-size: 30px;
  text-align: center;
}
.log_1{
  width: 450px;
  border-radius: 6px;
  padding: 20px;
  border: 2px rgba(255, 255, 255, 0.2) solid;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);/*es para el sombreado*/
  margin: auto;
  text-align: center;
}
.img_logo{
  text-align: center;
  width: 200px;
  margin: auto;
}
.img_logo_panel{
  width: 200px;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}
.sub_1{
  text-align: center;
  padding: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn_amarillo{
  width: 180px;
  padding: 10px 10px;
  background-color: #CC9900;
  color: white;
  text-align: center ;
  border: 0;
  border-radius: 6px;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  margin-left: 90px;
}
.btn_amarillo2{
  width: 850px;
  padding: 10px 10px;
  background-color: #CC9900;
  color: white;
  text-align: center ;
  border: 0;
  border-radius: 6px;
  margin: auto;
  text-decoration: none;
  display: inline-block;
  margin: auto;

}
.centrar{
  text-align: center; 
  font-size: 30px;
}
.texto_fecha{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.cont_padre_panel{
  padding: 10px;
  background-color: #ebebeb;
}
.cont_panel_izquierdo{
  width: 300px;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  padding: 10PX;

}
.cont_panel_derecho{
  width: 960px;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  

}
.cont_panel_derecho_hijo1{
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  margin-top: 5px;
  background-color: white;
  width: 960px;
}
.cont_panel_derecho_hijo2{
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  width: 960px;
}
.titulo_panel{
  text-align: center;
}
.cont_menu_lateral{
  padding: 10px;
  width: 280px;
  border-radius: 5px;
  border: 2px #ccc solid;
}
.menu{
  padding: 20px;
}
.menu_opciones{
  display: inline-block;
  padding: 10px;
}
.aviso_error{
  color: red;
  background-color: #f39f9f;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
}
.tabla_usuarios{
  border-radius: 5px;
  border: 1px #ccc solid;
  width: 98%;
}
.tabla_usuarios th{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
.tabla_usuarios tr:nth-child(even) { /* Filas pares */
  background-color: #d3d3d3; 
}
.tabla_usuarios tr:nth-child(odd) { /* Filas impares */
  background-color: #ffffff;
}
.tabla_usuarios td{
  text-align: center;
  padding: 1px 1px;
}
.form_crear_usuario{
  width: 850px;
  margin: auto;
}
.contenedor_ver_usuarios{
  padding: 10px;
}
.dato{
  color: #333;
  padding-bottom: 10px;
  font-weight: bold;
}
.campo{
  color: #800000;
  padding-bottom: 15px;
  font-weight: bold;

}
.img_eliminar{
  display: flex;
  margin: auto;
}
.img_modificar{
  display: flex;
  margin: auto;
}
.img_ver{
  display: flex;
  margin: auto;
}
.elemento_salir{
  padding: 1px;
}
.salir{
  display: inline-block;
  text-decoration: none;
  color: #e3574d;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}
.img_cancelar{
  width: 21px;
  display: inline-block;
  vertical-align: middle;
}

.img_noticia{
  width: 150px;
}


